$gray: #2f2e30;

body {
  font-family: sans-serif;
}

.container {
  background-color: #dd0001;
  height: 100vh;
}

.header-container {
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-container ul {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  align-items: center;
  padding-left: .3rem;
  position: relative;
  z-index: 8;
  padding-right: .3rem;
  li {
    position: relative;
    z-index: 10;
    list-style: none;
    width: 25%;
    text-align: center;
  }
}


.nav-icons {
  font-size: 1.9rem;
  color: white;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .menu-item {
  position: relative;
  .wee {
    background-color: $gray;
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: -16px;
    transition: 0.5s;
    border-radius: .75rem .75rem 0 0;
  }
  .i {
    position: relative;
    z-index: 1;
  }
}

.sub-category-container {
  height: 3rem;
  background-color: $gray;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-category-items {
  width: 100%;
  text-align: center;
  transform: translateX(72px);
  transition: all .3s ease-out;
  span {
    color: gray;
    font-size: 1.3rem;
  }
  .middle-item {
    margin: 0 2rem 0 2rem !important;
  }
}

.selected-sub-category {
  color: white !important;
}
